
  margin: 0;
  padding: 0;
  box-sizing: border-box;


body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}


nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
nav ul {
  display: flex;
  justify-content: space-around;
  background-color: #333;
  padding: 10px 0;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  gap: 10px;
  background-color: #282c34;
  color:blueviolet;
  font-size: 14px;
}
.navbar a {
  color: blueviolet;
  text-decoration: none;
}
.page{

  padding: 20px;
  color: #333;
  background-color:blue;
  font-size: 16px;
  
}
.page h2 {
  font-size: 24px;
  margin-bottom: 20px;
}